.gigme-menu{
    background: url("icons/menu.png") no-repeat !important;

}
.gigme-arrow-down{
    background: url("icons/arrow_down.png") no-repeat !important;
}
.gigme-search{
    background: url("icons/search.png") no-repeat !important;
}
.gigme-notification{
    background: url("icons/notification.png") no-repeat !important;
}
.gigme-buttons{
    background-size: 100%,100% !important;
    width: 20px;
    height: 20px!important;

}