html {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ui-content h1 {
	    font-family: Impact, Helvetica, Arial, sans-serif;
	    font-weight: normal;
	    color:white;
	    text-shadow: 0px 0px 2px black;
	}
	.ui-content button {
		color:gray!important;

	}
	.headerr{
		box-shadow: 0px 0px 5px 2px #888888;
	}
	.ui-content label.labelInfo {
		color:white!important;
	}
	.ui-page .btnconL .ui-btn{
		margin-left: 1%;
		float: left!important;
   		margin-right: 1px!important;
   		background: none;
   		border: none;
   		box-shadow: none;
	}
	.ui-page .btnconR .ui-btn{
		margin-left: 1%!important;
		float: right!important;
   		margin-right: 1px!important;
   		background: none;
   		border: none;
   		box-shadow: none;
	}
	.bgImage, .bgImage2{
		height: 100%;padding: 0!important; margin:0!important;
		width: 100%;

		background: url("login.jpg") no-repeat scroll left top;
		background-size: cover;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	.ui-page {
	    background: transparent;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	   
	}
	
	.ui-content{
	    background: transparent;

	}
	.trademark{
		border: transparent!important;
		background: transparent!important;
	}

	.gigTittle{
		background: #fde0b4 !important;
		border: transparent!important;
		text-align: center;
	}
	#profile{
		 /*padding-top: 45px!important;*/
	}
	#profile .titlee{
		font-size: 13px!important;
		color: #ab38f6!important;
		padding-bottom: 5px!important;
	}

	.notification{
		border: 1px;
		border-style: groove;
		margin-bottom: 10px;
	}
	.facebookBtn{
		background-color: rgb(66, 80, 245)!important;
		color: white!important;
		font-size: 1.2em!important;
	}

	.profilePic{
		height: 190px!important;
		border: 1px;
		border-style: solid;
		border-color: #afafaf;
		background: url("Profilepic.jpg");
		background-size: 100%, 100%;
		float: left;
		margin-left:5px;
		margin-right:10px;
		margin-bottom:10px;

	}

	.plus{
		height: 70px;
		border: 1px;
		border-style: solid;
		border-color: rgba(0,0,0,1);
		display: block;
		border-radius: 5%;
		margin-right: 5px;
	}

	.popup{
		display:none;
		height:80%;
		width:80%;
		position:absolute;
		margin:3%;
		background-color: rgba(195, 175, 192, 0.58);
		top: 1px;
		align-items: center;
		align-self: center;
		align-content: center;
		text-align: center;
		color:white;
	}
	.popupOption{
		background-color:rgba(0,0,0,0.4);
		border: 1px;
		border-style: solid;
		border-color: rgba(0,0,0,1);
		margin-bottom:6px;
	}

	.profileInfo{
		/*margin-left: 15px!important;
		margin-top: 15px!important;*/

		position: relative;
		border: 1px;
		border-style: solid;
		border-top: none;
		border-right: none;
		border-left: none;
		padding: 15px;
		/*padding-bottom: 15px;*/
		border-color: #cbcbcb;

	}
	.profileName {
		font-size: 20px !important;
		color: #8d8d8d !important;

	}
.myBands{
	padding-left: 15px;
	color: #8d8d8d;
	border: 2px;
	border-radius: 3%;
	border-style: solid;
	background-color: rgba(0,0,0,.15)
}

.band{
	height: 150px;
	border: 1px;
	border-style: solid;
	border-color: rgba(0,0,0,1);
	display: block;
	border-radius: 5%;
	margin-right: 5px;
}

.ulContainer{
	display: -webkit-box; overflow-x:auto;list-style-type: none;
}

.genreDiv{
	text-align: center;
	height: 100%;
	padding: 5px;
}

.genre{
	height: 40px;
	border: 1px;
	border-style: solid;
	border-color: rgba(0,0,0,1);
	display: block;
	border-radius: 5%;
	margin-right: 5px;
}

.message{
	border: 2px;
	border-style: solid;
	padding: 5px;
	width: 100%;
	margin-bottom:5px;
}

.messagesContainer{
	list-style-type: none;
	-webkit-padding-start: 0px;
	-webkit-margin-before: 0px;
	width: 99%;
}

.messageTitle{
	margin: 0px;
	padding: 0px;
}

.msgBlock{
	border: 1px;
	border-style: dotted;
	padding: 10px;
	margin-bottom:5px;
	margin-left:10px;
}



.messageDate{
	float:right;
}

.clearFix:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#map{
	width: 100%;
	height: 300px;
}
.clearFix{display:inline-block;}
* html .clearFix{height:1%;}
.clearFix{display: block;}
